root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 2
tab_width = 2
max_line_length = 80

[*.nix]
max_line_length = unset

[*.md]
indent_size = unset
trim_trailing_whitespace = false
max_line_length = 100

[*.py]
indent_size = 4
max_line_length = 88

[*.sh]
max_line_length = unset

[*.go]
indent_style = tab
indent_size = 2
tab_width = 2

[{Makefile,Justfile}]
indent_style = tab
indent_size = 4
tab_width = 4

[*.typ]
max_line_length = 100

[*.lock]
indent_size = unset
indent_style = unset
max_line_length = off
