#!/usr/bin/env bash

if has module; then
  source ./.modules.sh
# elif has nix; then
#   use nix
fi

if [[ "$(</proc/version)" =~ 'WSL' ]]; then
  export LD_LIBRARY_PATH=/usr/lib/wsl/lib:$LD_LIBRARY_PATH
fi

watch_file ./.modules.sh
